<a href="https://colab.research.google.com/github/priyadharsh73/solar_plant_analysis/blob/main/solar_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA of solar plant data

In [1]:
#importing Python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from IPython.display import HTML as html_print
from termcolor import colored
from IPython.display import display

import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="scipy")

In [2]:
#pandas options for dataframes allows unlimited columns, rows and formatting floating-point nos. to 3 decimal places
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
#loading the generation data for plant 1
df_1_Generation = pd.read_csv("https://raw.githubusercontent.com/priyadharsh73/solar_plant_analysis/main/Plant_1_Generation_Data.csv")

In [4]:
df_1_Generation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB

The solar power generation data represents energy measurements from various sources within a power plant. Let’s break down the columns:

* `DATE_TIME`: The timestamp when the measurements were recorded
(in the format “DD-MM-YYYY HH:MM”).
* `PLANT_ID`: An identifier for the specific power plant.
* `SOURCE_KEY`: A unique identifier for each solar panel.
* `DC_POWER`: The direct current (DC) power generated by the source (measured in watts).
* `AC_POWER`: The alternating current (AC) power converted from DC (measured in watts).
* `DAILY_YIELD`: The total energy yield from the source on that day (accumulated value, possibly in kilowatt-hours).
* `TOTAL_YIELD`: The cumulative total energy yield from the source since its installation (possibly in kilowatt-hours).

In [5]:
df_1_Generation.head()

          DATE_TIME  PLANT_ID       SOURCE_KEY  DC_POWER  AC_POWER  DAILY_YIELD  TOTAL_YIELD
0  15-05-2020 00:00   4135001  1BY6WEcLGh8j5v7     0.000     0.000        0.000  6259559.000
1  15-05-2020 00:00   4135001  1IF53ai7Xc0U56Y     0.000     0.000        0.000  6183645.000
2  15-05-2020 00:00   4135001  3PZuoBAID5Wc2HD     0.000     0.000        0.000  6987759.000
3  15-05-2020 00:00   4135001  7JYdWkrLSPkdwr4     0.000     0.000        0.000  7602960.000
4  15-05-2020 00:00   4135001  McdE0feGgRqW7Ca     0.000     0.000        0.000  7158964.000

In [6]:
#loading the weather sensor data for plant 1
df_1_Weather = pd.read_csv("https://raw.githubusercontent.com/priyadharsh73/solar_plant_analysis/main/Plant_1_Weather_Sensor_Data.csv")

In [7]:
df_1_Weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3182 non-null   object
 1   PLANT_ID             3182 non-null   int64
 2   SOURCE_KEY           3182 non-null   object
 3   AMBIENT_TEMPERATURE  3182 non-null   float64
 4   MODULE_TEMPERATURE   3182 non-null   float64
 5   IRRADIATION          3182 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 149.3+ KB

Weather data for solar power plant with respect to time temperatures and
irradiance. Let’s break down the columns:

* `DATE_TIME:` The timestamp when the data was recorded.
* `PLANT_ID:` An identifier for the specific solar power plant.
* `SOURCE_KEY:` Another identifier, likely representing a specific solar panel or module within the plant.
* `AMBIENT_TEMPERATURE:` The ambient temperature at the time of measurement.
* `MODULE_TEMPERATURE:` The temperature of the solar module itself.
* `IRRADIATION:` The amount of solar irradiation (sunlight) received by the
module.
These parameters are crucial for understanding the performance and efficiency of the solar panels.

In [8]:
df_1_Weather.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184,22.858,0.000
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.085,22.762,0.000
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.936,22.592,0.000
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846,22.361,0.000
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.622,22.165,0.000

In [9]:
#loading the generation data for plant 2
df_2_Generation = pd.read_csv("https://raw.githubusercontent.com/priyadharsh73/solar_plant_analysis/main/Plant_2_Generation_Data.csv")

In [10]:
#loading the weather sensor data for plant 2
df_2_Weather = pd.read_csv("https://raw.githubusercontent.com/priyadharsh73/solar_plant_analysis/main/Plant_2_Weather_Sensor_Data.csv")

In [22]:
## exploratory data analysis
# fixing title colors, style for the dataframe
def print_section_title(title):
    print(colored(title, 'green', attrs=['bold', 'italics']))

def display_head_and_tail(dataframe, head=5):
    display(dataframe.head(head).style.set_caption("Head"))
    display(dataframe.tail(head).style.set_caption("Tail"))

In [23]:
def display_na(dataframe):
    na_df = dataframe.isnull().sum().reset_index()
    na_df.columns = ['Column', 'Number of NA']
    display(na_df.style.set_caption("Number of NA Values"))

In [24]:
#fixing the quartiles for the dataframe
def display_quantiles(dataframe):
    quantiles_df = dataframe.describe([0, 0.10, 0.25, 0.50, 0.75, 0.90, 1]).T
    display(quantiles_df.style.format("{:.2f}").set_caption("Quantiles"))

In [25]:
def check_df(dataframe, head=6):
    print_section_title('Shape')
    print(dataframe.shape)
    print_section_title('Types')
    print(dataframe.dtypes.to_frame('Data Type').style.set_caption("Data Types"))
    print_section_title('Info')
    print(dataframe.info())
    print_section_title('Head & Tail')
    display_head_and_tail(dataframe, head)
    print_section_title('NA Values')
    display_na(dataframe)
    print_section_title('Quantiles')
    display_quantiles(dataframe)

In [26]:
check_df(df_1_Generation)

Shape
(68778, 7)
Types
<pandas.io.formats.style.Styler object at 0x7d5c985f3cd0>
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB
None
Head & Tail

NA Values

Quantiles

In [27]:
check_df(df_1_Weather)

Shape
(3182, 6)
Types
<pandas.io.formats.style.Styler object at 0x7d5cdd664af0>
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3182 non-null   object
 1   PLANT_ID             3182 non-null   int64
 2   SOURCE_KEY           3182 non-null   object
 3   AMBIENT_TEMPERATURE  3182 non-null   float64
 4   MODULE_TEMPERATURE   3182 non-null   float64
 5   IRRADIATION          3182 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 149.3+ KB
None
Head & Tail

NA Values

Quantiles

In [28]:
check_df(df_2_Generation)

Shape
(67698, 7)
Types
<pandas.io.formats.style.Styler object at 0x7d5c985f0d90>
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67698 entries, 0 to 67697
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    67698 non-null  object
 1   PLANT_ID     67698 non-null  int64
 2   SOURCE_KEY   67698 non-null  object
 3   DC_POWER     67698 non-null  float64
 4   AC_POWER     67698 non-null  float64
 5   DAILY_YIELD  67698 non-null  float64
 6   TOTAL_YIELD  67698 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.6+ MB
None
Head & Tail

NA Values

Quantiles

In [29]:
check_df(df_2_Weather)

Shape
(3259, 6)
Types
<pandas.io.formats.style.Styler object at 0x7d5cdd617700>
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3259 entries, 0 to 3258
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3259 non-null   object
 1   PLANT_ID             3259 non-null   int64
 2   SOURCE_KEY           3259 non-null   object
 3   AMBIENT_TEMPERATURE  3259 non-null   float64
 4   MODULE_TEMPERATURE   3259 non-null   float64
 5   IRRADIATION          3259 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 152.9+ KB
None
Head & Tail

NA Values

Quantiles